In [6]:
import sys
sys.path.append('../../') # (adjust this to the folder level the file is in)
from data.api_calls import import_hypercell_raw
from datetime import datetime

In [7]:
start = datetime( year = 2019 , month = 7 , day = 15 , hour = 8 , minute = 0 )
end = datetime(year = 2019, month=7, day=15, hour=9, minute=0)

In [8]:
df = import_hypercell_raw(start, end)

Done with time frame2019-07-15 08:00:00 - 2019-07-15 08:15:00
Done with time frame2019-07-15 08:15:00 - 2019-07-15 08:30:00
Done with time frame2019-07-15 08:30:00 - 2019-07-15 08:45:00
Done with time frame2019-07-15 08:45:00 - 2019-07-15 09:00:00
Done with downloading data!

In [ ]:
from pandas import DataFrame

In [10]:
export_csv = df.to_csv (r'15_07_19_08_09_raw.csv', index = None, header=True)

In [11]:
df.head()

,time,hash,serial,distance
0,2019-07-15T08:00:00Z,00ee706dc7c6a9c4c7a04e55c949cacf5a2f1e1511cdd5...,00000000342570c2,8.38
1,2019-07-15T08:00:00Z,087cf89af39e4da9b47dfc35ad0f8302f3911ff0e86dea...,0000000006dd41f6,18.79
2,2019-07-15T08:00:00Z,0a0e68a51d30ad29a0c92f8ec755a5ad26e62ac638dd84...,000000007b5207b6,11.70
3,2019-07-15T08:00:00Z,11e5d0cbaa86f72095a4529503ee9912e0ba7fad58b137...,00000000aa852af1,18.79
4,2019-07-15T08:00:00Z,15918569de0a46a8eb56b43d8d39f7fc82619ff1006f00...,00000000675d5200,4.11

In [62]:
du = df['hash'].nunique()

In [66]:
print(df.shape)

(1620079, 4)

In [73]:
print(df['hash'].nunique())

12194

In [82]:
du = df.drop_duplicates(['serial', 'hash'])

In [83]:
print(du.shape)

(16260, 4)

In [84]:
du.head()

,time,hash,serial,distance
0,2019-07-15T08:00:00Z,00ee706dc7c6a9c4c7a04e55c949cacf5a2f1e1511cdd5...,00000000342570c2,8.38
1,2019-07-15T08:00:00Z,087cf89af39e4da9b47dfc35ad0f8302f3911ff0e86dea...,0000000006dd41f6,18.79
2,2019-07-15T08:00:00Z,0a0e68a51d30ad29a0c92f8ec755a5ad26e62ac638dd84...,000000007b5207b6,11.70
3,2019-07-15T08:00:00Z,11e5d0cbaa86f72095a4529503ee9912e0ba7fad58b137...,00000000aa852af1,18.79
4,2019-07-15T08:00:00Z,15918569de0a46a8eb56b43d8d39f7fc82619ff1006f00...,00000000675d5200,4.11

In [85]:
print(du['hash'].nunique())

12194

In [92]:
moves_group_hash = du.groupby(['hash'])

In [93]:
moves_group_hash.head()

,time,hash,serial,distance
0,2019-07-15T08:00:00Z,00ee706dc7c6a9c4c7a04e55c949cacf5a2f1e1511cdd5...,00000000342570c2,8.38
1,2019-07-15T08:00:00Z,087cf89af39e4da9b47dfc35ad0f8302f3911ff0e86dea...,0000000006dd41f6,18.79
2,2019-07-15T08:00:00Z,0a0e68a51d30ad29a0c92f8ec755a5ad26e62ac638dd84...,000000007b5207b6,11.70
3,2019-07-15T08:00:00Z,11e5d0cbaa86f72095a4529503ee9912e0ba7fad58b137...,00000000aa852af1,18.79
4,2019-07-15T08:00:00Z,15918569de0a46a8eb56b43d8d39f7fc82619ff1006f00...,00000000675d5200,4.11
...,...,...,...,...
1619737,2019-07-15T08:59:57Z,5912ac53d306043c5259264392a5fe984e1811d7883d24...,00000000aa852af1,13.75
1619751,2019-07-15T08:59:57Z,7bc36bf8453fd9f9995e5f56c72c6d9de5e3d7a254fa71...,0000000096918cfa,27.28
1619894,2019-07-15T08:59:58Z,fe8cb223e632b236393ac824d3aa81b9fec769285fdcb9...,0000000006dd41f6,23.56
1619953,2019-07-15T08:59:59Z,7db7c5dd3c4f1e32ea5dfdf74a9d36fe8b5339a732b038...,00000000d747f075,18.79
1620046,2019-07-15T09:00:00Z,8422816521c26f5ffd0567e3c070716e8b81e05ede68d1...,0000000006dd41f6,17.40